/*============    ШРИФТЫ    ===========*/
@font-face {
  font-family: "Roboto-Regular";
  src: url("../fonts/Roboto-Regular.eot");
  src: url("../fonts/Roboto-Regular.eot&#iefix") format("embedded-opentype"), url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.ttf") format("treutype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto-Light";
  src: url("..//fonts/Roboto-Light.eot");
  src: url("..//fonts/Roboto-Light.eot&#iefix") format("embedded-opentype"), url("..//fonts/Roboto-Light.woff") format("woff"), url("..//fonts/Roboto-Light.ttf") format("treutype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto-Bold";
  src: url("..//fonts/Roboto-Bold.eot");
  src: url("..//fonts/Roboto-Bold.eot&#iefix") format("embedded-opentype"), url("..//fonts/Roboto-Bold.woff") format("woff"), url("..//fonts/Roboto-Bold.ttf") format("treutype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto-Medium";
  src: url("..//fonts/Roboto-Medium.eot");
  src: url("..//fonts/Roboto-Medium.eot&#iefix") format("embedded-opentype"), url("..//fonts/Roboto-Medium.woff") format("woff"), url("..//fonts/Roboto-Medium.ttf") format("treutype");
  font-weight: normal;
  font-style: normal;
}
/*============    ГЛАВНЫЙ ЭКРАН    ===========*/
body {
  background-color: #f4f2f2;
  font-family: "Roboto-Regular", sans-serif;
}
.section_add_comment-body .form-group {
  padding-bottom: 10px;
  margin: 27px 0 15px;
  position: relative;
}
.section_add_comment-body .form-group.label-floating label.control-label,
.section_add_comment-body .form-group.label-placeholder label.control-label {
  top: -7px;
  font-size: 14px;
  line-height: 1.42857;
}
.section_add_comment-body .form-group.label-floating label.control-label {
  will-change: left, top, contents;
}
.section_add_comment-body .form-group.label-floating label.control-label,
.section_add_comment-body .form-group.label-placeholder label.control-label,
.section_add_comment-body .form-group.label-static label.control-label {
  position: absolute;
  pointer-events: none;
  transition: 0.3s ease all;
}
.section_add_comment-body .form-group label.control-label {
  font-size: 11px;
  line-height: 1.07143;
  color: #AAA;
  font-weight: 400;
  margin: 16px 0 0;
}
.section_add_comment-body .form-control,
.section_add_comment-body .form-group .form-control {
  border: 0;
  background-image: linear-gradient(#9c27b0, #9c27b0), linear-gradient(#d2d2d2, #d2d2d2);
  background-size: 0 2px,100% 1px;
  background-repeat: no-repeat;
  background-position: center bottom, center calc(99%);
  background-color: transparent;
  transition: background 0s ease-out;
  float: none;
  box-shadow: none;
  border-radius: 0;
  font-weight: 400;
}
.section_add_comment-body .form-control {
  display: block;
  width: 100%;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  height: 36px;
  padding: 7px 0;
  font-size: 14px;
  line-height: 1.42857;
}
.section_add_comment-body .form-group.is-focused .form-control {
  outline: 0;
  background-image: linear-gradient(#3eb5f1, #3eb5f1), linear-gradient(#d2d2d2, #d2d2d2);
  background-size: 100% 1px,100% 1px;
  box-shadow: none;
  transition-duration: 0.3s;
}
.section_add_comment-body .form-group.label-floating.is-focused label.control-label,
.step .form-group.label-floating:not(.is-empty) label.control-label,
.section_add_comment-body .form-group.label-static label.control-label {
  top: -28px;
  left: 0;
  font-size: 11px;
  line-height: 1.07143;
}
.p0 {
  padding: 0 !important;
}
.right_arrow {
  transform: rotateY(180deg);
}
.body_color {
  width: 104.5%;
  height: 40px;
  background-color: #f4f2f2;
  margin-left: -16px;
  border-bottom: 1px solid #ebebeb;
  border-top: 1px solid #ebebeb;
  display: none;
}
div,
button {
  outline: none;
}
section#product-section {
  margin-bottom: 15px;
}
section#product-section .container {
  background-color: #fff;
  border: 1px solid #ebebeb;
}
section#product-section .ml {
  border-left: 1px solid #ebebeb;
}
section#product-section .mr {
  border-right: none;
}
section#product-section .wrapper-left {
  padding: 30px 0;
}
section#product-section .tumb_list_img .tumb_img {
  border: 2px solid transparent;
  margin-bottom: 10px;
  max-width: 70px;
}
section#product-section .tumb_list_img .active {
  border: 2px solid #ebebeb;
}
section#product-section .wrapper_main_img {
  /*.slick-dots li.slick-active button:before{
			font-size: 40px;
		}*/
}
section#product-section .wrapper_main_img .product_slide img {
  max-width: 100%;
  margin-left: -30px;
  display: none;
}
section#product-section .wrapper_main_img .product_slide img.active {
  display: block;
}
section#product-section .wrapper_main_img .right_arrow,
section#product-section .wrapper_main_img .left-arrow {
  position: absolute;
  top: 50%;
  z-index: 100;
  color: #ebebeb;
}
section#product-section .wrapper_main_img .right_arrow {
  right: 0;
}
section#product-section .wrapper_main_img .slick-dots li button:before {
  font-size: 44px;
  color: #999;
}
section#product-section .mobile_product_info {
  display: none;
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #ebebeb;
}
section#product-section .mobile_product_info h3 {
  font-size: 14px;
  font-family: "Roboto-Regular";
  margin-top: 0;
  margin-bottom: 15px;
}
section#product-section .mobile_product_info .fa-star {
  color: #ffca00;
}
section#product-section .mobile_product_info span {
  font-size: 12px;
  color: #6d6d6d;
  font-family: "Roboto-Regular";
}
section#product-section .mobile_product_info .number-of-reviews {
  margin-left: 5px;
  border-right: 1px solid #d8d8d8;
  padding-right: 7px;
  cursor: pointer;
  color: #6d6d6d;
}
section#product-section .product_info {
  padding: 0 5px;
}
section#product-section .product_info h3 {
  font-size: 19px;
  font-family: "Roboto-Light";
}
section#product-section .product_info .fa-star {
  color: #ffca00;
}
section#product-section .product_info span {
  font-size: 12px;
  color: #6d6d6d;
  font-family: "Roboto-Regular";
}
section#product-section .product_info .delivery_1 {
  text-align: right;
  color: #dc484c;
  font-size: 13px;
  margin-top: 15px;
}
section#product-section .product_info .delivery_1:before {
  content: "";
  width: 22px;
  height: 11px;
  background-image: url(../img/truck_ico.jpg);
  display: inline-block;
  margin-right: 8px;
}
section#product-section .product_info .number-of-reviews {
  margin-left: 5px;
  border-right: 1px solid #d8d8d8;
  padding-right: 7px;
  cursor: pointer;
  color: #6d6d6d;
}
section#product-section .product_info .write-reviews {
  padding-left: 3px;
  cursor: pointer;
}
section#product-section .product_info .article {
  background-color: #f3f2f2;
  font-size: 14px;
  padding: 4px 8px;
}
section#product-section .product_info hr {
  margin-top: 13px;
  margin-bottom: 13px;
}
section#product-section .product_info .In-stock {
  color: #78c479;
  font-size: 14px;
}
section#product-section .product_info .In-stock:before {
  content: "";
  width: 14px;
  height: 12px;
  margin-right: 5px;
  background-image: url("../img/check_ico.png");
  background-repeat: no-repeat;
  display: inline-block;
}
section#product-section .product_info .article_the_tablet {
  float: right;
  display: none;
}
section#product-section .product_info p.quant {
  margin-top: 20px;
  margin-bottom: 5px;
}
section#product-section .product_info .quantity_product {
  width: fit-content;
  border: 1px solid #d8d8d8;
  border-radius: 20px;
  height: 40px;
  overflow: hidden;
  display: inline-block;
}
section#product-section .product_info .quantity_product span {
  font-size: 15px;
  padding: 10px;
  color: #d8d8d8;
  display: inline-block;
}
section#product-section .product_info .quantity_product span:hover {
  cursor: pointer;
}
section#product-section .product_info .quantity_product span.minus {
  border-radius: 20px 0 0 20px;
}
section#product-section .product_info .quantity_product span.plus {
  border-radius: 0 15px 15px 0;
  color: #74d2f9;
  padding: 10px 12px;
}
section#product-section .product_info .quantity_product input {
  width: 33px;
  margin-left: -5px;
  overflow: hidden;
  margin-right: -4px;
  border: none;
  height: 40px;
  text-align: center;
  outline: none;
  font-size: 18px;
  border-left: 1px solid #d8d8d8;
  border-right: 1px solid #d8d8d8;
}
section#product-section .product_info .product_price {
  font-size: 30px;
  font-family: "Roboto-Medium";
  color: #000;
  display: block;
  margin-top: 30px;
}
section#product-section .product_info span.old_ptice {
  font-size: 16px;
  text-decoration: line-through;
  color: red;
  font-family: Roboto-Regular;
}
section#product-section .product_info span.old_ptice span.inner {
  color: #6d6d6d;
  font-size: 16px;
  font-family: "Roboto-Light";
}
section#product-section .product_info .product_button_wrapper {
  margin-top: 21px;
  margin-bottom: 21px;
}
section#product-section .product_info .product_button_wrapper button {
  width: 100%;
  text-transform: uppercase;
  border: 1px solid #68cef8;
  padding: 8px 0;
  border-radius: 30px;
  background: transparent;
  font-size: 16px;
}
section#product-section .product_info .product_button_wrapper button i {
  margin-right: 5px;
}
section#product-section .product_info .product_button_wrapper .To_favorites {
  color: #68cef8;
}
section#product-section .product_info .product_button_wrapper .To_basket {
  color: #fff;
  background-color: #68cef8;
}
section#product-section .product_info .product_button_wrapper .To_basket i {
  font-size: 20px;
  margin-right: 10px;
}
section#product-section .product_info .Shipping-and-payment p {
  text-transform: uppercase;
  font-size: 14px;
  font-family: "Roboto-Light";
  color: #000;
  padding-bottom: 10px;
}
section#product-section .product_info .Shipping-and-payment ul {
  display: inline-block;
  list-style: none;
  margin-bottom: 19px;
}
section#product-section .product_info .Shipping-and-payment ul li {
  font-size: 12px;
  color: #6d6d6d;
  font-family: "Roboto-Regular";
}
section#product-section .product_info .Shipping-and-payment ul li:first-child {
  margin-bottom: 30px;
}
section#product-section .product_info .Shipping-and-payment .first_list {
  padding: 0;
}
section#product-section .product_info .Shipping-and-payment .first_list li {
  padding-left: 27px;
}
section#product-section .product_info .Shipping-and-payment .first_list li:first-child:before {
  content: "";
  width: 20px;
  height: 20px;
  background-image: url("../img/time.png");
  display: inline-block;
  margin-left: -28px;
  position: absolute;
}
section#product-section .product_info .Shipping-and-payment .first_list li:nth-child(2):before {
  content: "";
  width: 22px;
  height: 20px;
  background-image: url("../img/credit-card.png");
  background-repeat: no-repeat;
  display: inline-block;
  margin-left: -28px;
  position: absolute;
}
section#product-section .product_info .Shipping-and-payment .second_list li {
  padding-left: 27px;
}
section#product-section .product_info .Shipping-and-payment .second_list li:first-child:before {
  content: "";
  width: 20px;
  height: 20px;
  background-image: url("../img/wallet.png");
  display: inline-block;
  margin-left: -28px;
  position: absolute;
}
section#product-section .product_info .Shipping-and-payment .second_list li:nth-child(2):before {
  content: "";
  width: 22px;
  height: 22px;
  background-image: url("../img/lisy.png");
  background-repeat: no-repeat;
  display: inline-block;
  margin-left: -28px;
  position: absolute;
}
p.product_name {
  line-height: 16px;
  position: relative;
  height: 48px;
}
.divider {
  z-index: 12;
  position: absolute;
  background-color: red;
  height: 25px;
  max-height: 48px;
  width: 100%;
  margin-top: -35px;
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#ffffff', GradientType=0);
}
section#product_description .container hr {
  margin-top: 5px;
  width: 100%;
}
section#product_description .container .interested_in {
  padding-top: 10px;
  min-width: 270px;
  background-color: #fff;
  position: relative;
  border: 1px solid #ebebeb;
  margin-bottom: 15px;
}
section#product_description .container .interested_in p.title {
  padding-left: 15px;
  font-size: 16px;
  font-family: "Roboto-Light";
}
section#product_description .container .interested_in p {
  text-transform: uppercase;
}
section#product_description .container .interested_in .interested_in-wrapper {
  max-height: 550px;
  overflow-x: hidden;
  overflow-y: auto;
}
section#product_description .container .interested_in .interested_in_body {
  padding: 0 25px;
}
section#product_description .container .interested_in img {
  margin: auto;
  display: block;
  margin-bottom: 13px;
}
section#product_description .container .interested_in p {
  font-family: "Roboto-Regular";
}
section#product_description .container .interested_in button {
  text-transform: uppercase;
  width: 100%;
  border: 1px solid #a4e2fb;
  color: #a4e2fb;
  padding: 9px 0;
  border-radius: 30px;
  background-color: transparent;
  font-family: "Roboto-Medium";
  font-size: 13px;
}
section#product_description .container .interested_in .interested_in_body {
  border-bottom: 1px solid #ebebeb;
  margin-bottom: 15px;
  padding-bottom: 10px;
}
section#product_description .container .interested_in .interested_in_body:last-child {
  border: none;
  margin-bottom: 0;
}
section#product_description .container .interested_in .interested_in_body a {
  font-size: 13px;
  line-height: 17px;
  display: block;
  margin-bottom: 10px;
  color: #333;
}
section#product_description .container .interested_in .interested_in_body span.price {
  font-size: 18px;
  font-family: "Roboto-Medium";
}
section#product_description .container .interested_in .interested_in_body span.old_ptice {
  font-size: 13px;
  text-decoration: line-through;
  color: red;
  font-family: Roboto-Regular;
}
section#product_description .container .interested_in .interested_in_body span.old_ptice span.inner {
  color: #6d6d6d;
  font-size: 14px;
  font-family: "Roboto-Light";
}
section#product_description .container .news {
  background-color: #fff;
  padding-top: 10px;
  border: 1px solid #ebebeb;
}
section#product_description .container .news p.title {
  padding-left: 15px;
  font-size: 16px;
  font-family: "Roboto-Light";
  text-transform: uppercase;
  color: #000;
}
section#product_description .container .news .news-body {
  padding: 0 25px;
  border-bottom: 1px solid #ebebeb;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
section#product_description .container .news .news-body:last-child {
  border-bottom: none;
  padding-bottom: 0;
}
section#product_description .container .news img {
  display: block;
  margin: auto;
  margin-bottom: 13px;
}
section#product_description .container .news p {
  margin-bottom: 5px;
  font-family: Roboto-Regular;
}
section#product_description .container .news p.news_name {
  line-height: 15px;
  color: #000;
}
section#product_description .container .news p.desc {
  font-size: 12px;
  color: #6d6d6d;
}
section#product_description .container .news a {
  font-size: 14px;
  text-transform: uppercase;
  font-family: Roboto-Regular;
  color: #68cef8;
}
section#product_description .container .pl0 {
  padding-left: 0;
}
section#product_description .container .wrapper_content {
  background-color: #fff;
  padding: 5px 15px;
  margin-bottom: 100px;
}
section#product_description .container .wrapper_content .nav-tabs > li {
  margin-bottom: -2px;
}
section#product_description .container .wrapper_content .nav > li > a:focus,
section#product_description .container .wrapper_content .nav > li > a:hover {
  background-color: transparent;
}
section#product_description .container .wrapper_content ul {
  margin-bottom: 18px;
}
section#product_description .container .wrapper_content .nav-tabs {
  padding-bottom: 1px;
  border-bottom: 1px solid #f0f0f0;
}
section#product_description .container .wrapper_content .nav-tabs .active {
  border-bottom: 3px solid #68cef8;
}
section#product_description .container .wrapper_content .nav-tabs .active a {
  color: #68cef8;
}
section#product_description .container .wrapper_content .nav-tabs li a {
  border: none;
  color: #000;
}
section#product_description .container .wrapper_content .tab-content h4 {
  font-size: 20px;
  font-family: Roboto-Regular;
}
section#product_description .container .wrapper_content .tab-content p {
  font-size: 14px;
  font-family: Roboto-Regular;
}
section#product_description .container .wrapper_content .may_be_interesting {
  margin-top: 99px;
  position: relative;
}
section#product_description .container .wrapper_content .may_be_interesting a {
  color: #000;
}
section#product_description .container .wrapper_content .may_be_interesting .arrow_divider {
  position: absolute;
  right: 31px;
  width: 1px;
  height: 55px;
  background-color: #f3f2f2;
  top: 0px;
}
section#product_description .container .wrapper_content .may_be_interesting .slick-arrow {
  position: absolute;
  top: -70px;
  right: 2px;
}
section#product_description .container .wrapper_content .may_be_interesting .left-arrow {
  right: 50px;
}
section#product_description .container .wrapper_content .may_be_interesting .may_be_interesting-head {
  height: 55px;
  line-height: 55px;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  padding-left: 5px;
  margin-bottom: 30px;
}
section#product_description .container .wrapper_content .may_be_interesting .may_be_interesting-head span {
  text-transform: uppercase;
  font-size: 20px;
  font-family: "Roboto-Light";
  color: #000;
}
section#product_description .container .wrapper_content .may_be_interesting .slider_items {
  max-width: 275px;
  min-height: 337px;
  border: 1px solid #f4f2f2;
  padding: 15px;
  position: relative;
  overflow: hidden;
}
section#product_description .container .wrapper_content .may_be_interesting .slider_items:hover {
  box-shadow: 0px 0 13px 0px #ededed;
}
section#product_description .container .wrapper_content .may_be_interesting .slider_items .buy {
  position: absolute;
  width: 100%;
  bottom: 15px;
}
section#product_description .container .wrapper_content .may_be_interesting .slider_items .sale {
  position: absolute;
  background-color: #f84b4b;
  width: 85px;
  height: 85px;
  color: #fff;
  line-height: 145px;
  text-align: center;
  font-size: 18px;
  font-family: sans-serif;
  transform: rotateZ(47deg);
  top: -40px;
  right: -45px;
}
section#product_description .container .wrapper_content .may_be_interesting .slider_items img {
  display: block;
  margin: auto;
  margin-bottom: 20px;
}
section#product_description .container .wrapper_content .may_be_interesting .slider_items a.product_name {
  font-size: 14px;
  font-family: Roboto-Regular;
  color: #000;
  line-height: 16px;
  margin-bottom: 5px;
  display: block;
}
section#product_description .container .wrapper_content .may_be_interesting .slider_items p.article {
  margin-bottom: 20px;
}
section#product_description .container .wrapper_content .may_be_interesting .slider_items button {
  text-transform: uppercase;
  font-size: 14px;
  font-family: "Roboto-Medium";
  background-color: #68cef8;
  border-radius: 30px;
  border: none;
  padding: 9px 0;
  width: 130px;
  color: #fff;
  box-shadow: 0px 2px 6px 1px #ebebeb;
}
section#product_description .container .wrapper_content .may_be_interesting .slider_items span.price {
  font-size: 18px;
  font-family: "Roboto-Medium";
}
section#product_description .container .wrapper_content .may_be_interesting .slider_items span.old_ptice {
  font-size: 16px;
  text-decoration: line-through;
  color: red;
  font-family: Roboto-Regular;
}
section#product_description .container .wrapper_content .may_be_interesting .slider_items span.old_ptice span.inner {
  color: #6d6d6d;
  font-size: 16px;
  font-family: "Roboto-Light";
}
section#product_description .container .wrapper_content .may_be_interesting a.show_all_products {
  text-transform: uppercase;
  width: 248px;
  display: block;
  margin: auto;
  border: 1px solid #68cef8;
  border-radius: 30px;
  text-align: center;
  padding: 8px 0;
  font-size: 16px;
  font-family: Roboto-Regular;
  margin-top: 35px;
  text-decoration: none;
  color: #68cef8;
}
section#product_description .container .wrapper_content .Together_cheaper {
  margin-top: 100px;
  border: 1px solid #ebebeb;
  border-top: none;
  padding-bottom: 20px;
  margin-bottom: 100px;
}
section#product_description .container .wrapper_content .Together_cheaper a {
  color: #000;
  display: block;
  line-height: 14px;
}
section#product_description .container .wrapper_content .Together_cheaper .Together_cheaper-head {
  height: 47px;
  line-height: 47px;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  padding-left: 10px;
  margin-bottom: 30px;
  text-transform: uppercase;
  font-family: "Roboto-Light";
  font-size: 20px;
}
section#product_description .container .wrapper_content .Together_cheaper .Together_cheaper-body {
  padding: 0 10px;
}
section#product_description .container .wrapper_content .Together_cheaper .pl30 {
  padding-left: 30px;
}
section#product_description .container .wrapper_content .Together_cheaper .together {
  position: relative;
}
section#product_description .container .wrapper_content .Together_cheaper .together img {
  float: left;
  margin-right: 15px;
}
section#product_description .container .wrapper_content .Together_cheaper .together span {
  font-size: 14px;
  color: #000;
  font-family: Roboto-Regular;
}
section#product_description .container .wrapper_content .Together_cheaper .together span.old_ptice {
  font-size: 14px;
  text-decoration: line-through;
  color: red;
  font-family: Roboto-Regular;
}
section#product_description .container .wrapper_content .Together_cheaper .together span.old_ptice span.inner {
  color: #6d6d6d;
  font-size: 14px;
  font-family: "Roboto-Light";
}
section#product_description .container .wrapper_content .Together_cheaper .together p.product_name {
  font-size: 13px;
  font-family: Roboto-Regular;
  color: #6d6d6d;
  height: auto;
}
section#product_description .container .wrapper_content .Together_cheaper .together p.product_price {
  font-size: 16px;
  color: #000;
}
section#product_description .container .wrapper_content .Together_cheaper .first_product:after {
  content: "";
  width: 24px;
  height: 24px;
  display: inline-block;
  position: absolute;
  background-image: url("../img/add_ico.png");
  top: 30px;
  right: -13px;
}
section#product_description .container .wrapper_content .Together_cheaper .second_product:after {
  content: "";
  width: 32px;
  height: 12px;
  display: inline-block;
  position: absolute;
  background-image: url("../img/equally_ico.png");
  top: 30px;
  right: -17px;
}
section#product_description .container .wrapper_content .Together_cheaper p.together_p {
  color: #6d6d6d;
  font-family: Roboto-Regular;
  margin: 0;
}
section#product_description .container .wrapper_content .Together_cheaper p.together_total_price {
  font-size: 30px;
  color: #ff4a4a;
  font-family: "Roboto-Medium";
}
section#product_description .container .wrapper_content .Together_cheaper button.Order_the_kit {
  font-size: 16px;
  background-color: #68cef8;
  color: #fff;
  text-transform: uppercase;
  border-radius: 30px;
  padding: 8px 0;
  border: none;
  min-width: 235px;
  font-family: "Roboto-Medium";
}
section#product_description .container .wrapper_content .related_products {
  position: relative;
}
section#product_description .container .wrapper_content .related_products .related_products-head {
  height: 55px;
  line-height: 55px;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  padding-left: 5px;
  margin-bottom: 30px;
}
section#product_description .container .wrapper_content .related_products .related_products-head .arrow_divider {
  position: absolute;
  right: 31px;
  width: 1px;
  height: 55px;
  background-color: #f3f2f2;
  top: 0px;
}
section#product_description .container .wrapper_content .related_products .related_products-head span {
  text-transform: uppercase;
  font-size: 20px;
  font-family: "Roboto-Light";
  color: #000;
}
section#product_description .container .wrapper_content .comment {
  margin-top: 90px;
}
section#product_description .container .wrapper_content .comment .comment-head {
  height: 55px;
  line-height: 55px;
  border-top: 1px solid #ebebeb;
  position: relative;
  padding-left: 5px;
}
section#product_description .container .wrapper_content .comment .comment-head span {
  text-transform: uppercase;
  font-size: 20px;
  font-family: "Roboto-Light";
  color: #000;
}
section#product_description .container .wrapper_content .comment .comment-head .btn_add_comment {
  text-align: right;
  right: 0;
  float: right;
  font-size: 16px;
  color: #68cef8;
  border-bottom: 1px dashed;
  height: 38px;
  cursor: pointer;
}
section#product_description .container .wrapper_content .comment .section_add_comment {
  border: 1px solid #ebebeb;
  box-shadow: 0 4px 9px 0px #ccc;
  padding-bottom: 25px;
}
section#product_description .container .wrapper_content .comment .section_add_comment .section_add_comment-head {
  height: 30px;
  line-height: 30px;
  padding: 0 15px;
  text-align: right;
  background-color: #ebebeb;
}
section#product_description .container .wrapper_content .comment .section_add_comment .section_add_comment-head span {
  font-size: 12px;
  color: #6d6d6d;
  cursor: pointer;
}
section#product_description .container .wrapper_content .comment .section_add_comment .section_add_comment-head span:after {
  content: "";
  width: 10px;
  height: 10px;
  display: inline-block;
  background-image: url(https://aquamarket.ua/img/quick-order/close.png);
  margin-left: 10px;
}
section#product_description .container .wrapper_content .comment .section_add_comment .section_add_comment-body {
  padding: 0 33px;
}
section#product_description .container .wrapper_content .comment .section_add_comment .pt45 {
  padding-top: 45px;
}
section#product_description .container .wrapper_content .comment .section_add_comment .pt45 span {
  font-size: 14px;
  color: #6d6d6d;
  font-family: "Roboto-Regular";
  margin-right: 7px;
}
section#product_description .container .wrapper_content .comment .section_add_comment .wrapper_star {
  display: inline;
  position: relative;
}
section#product_description .container .wrapper_content .comment .section_add_comment .wrapper_star input {
  visibility: hidden;
  position: relative;
  margin-right: 3px;
}
section#product_description .container .wrapper_content .comment .section_add_comment .wrapper_star i {
  position: absolute;
  top: 0;
  cursor: pointer;
  color: #f7de5f;
  font-size: 17px;
}
section#product_description .container .wrapper_content .comment .section_add_comment textarea {
  margin-top: 50px;
  max-width: 100%;
  min-width: 100%;
  height: 140px;
  min-height: 140px;
}
section#product_description .container .wrapper_content .comment .section_add_comment .btn_new_comment {
  font-size: 16px;
  background-color: #68cef8;
  border: none;
  border-radius: 30px;
  padding: 9px 0;
  width: 202px;
  text-transform: uppercase;
  font-family: "Roboto-Medium";
  color: #fff;
  margin-top: 13px;
}
section#product_description .container .wrapper_content .comment .sectioan_all_comments .addin_wrapper {
  background-color: #f0f0f0;
  padding: 12px;
  margin-top: 15px;
}
section#product_description .container .wrapper_content .comment .sectioan_all_comments .addin_wrapper .answer_time {
  color: #6d6d6d;
  font-family: "Roboto-Regular";
}
section#product_description .container .wrapper_content .comment .sectioan_all_comments .addin_wrapper .shop_name {
  color: #000;
  font-family: "Roboto-Regular";
  display: block;
  margin-bottom: 4px;
}
section#product_description .container .wrapper_content .comment .sectioan_all_comments .addin_wrapper .answer_text {
  color: #6d6d6d;
  font-family: "Roboto-Regular";
  padding-left: 15px;
}
section#product_description .container .wrapper_content .comment .sectioan_all_comments .users_comment {
  margin-top: 30px;
  padding: 25px 0;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
}
section#product_description .container .wrapper_content .comment .sectioan_all_comments .users_comment .user_name {
  font-size: 14px;
  color: #000;
  font-family: "Roboto-Regular";
}
section#product_description .container .wrapper_content .comment .sectioan_all_comments .users_comment .comment_date {
  color: #6d6d6d;
  font-family: "Roboto-Regular";
  margin: 2px 0;
  display: block;
}
section#product_description .container .wrapper_content .comment .sectioan_all_comments .users_comment .comment_star i {
  color: #f7de5f;
}
section#product_description .container .wrapper_content .comment .sectioan_all_comments .comment_text {
  position: relative;
  color: #6d6d6d;
  font-family: "Roboto-Regular";
}
section#product_description .container .wrapper_content .comment .sectioan_all_comments .comment_text .comment-title {
  color: #000;
  margin-bottom: 6px;
  display: block;
}
section#product_description .container .wrapper_content .comment .sectioan_all_comments .comment_text:before {
  content: "";
  width: 1px;
  height: 100%;
  background-color: #ebebeb;
  display: block;
  position: absolute;
  left: -26px;
}
section#product_description .container .wrapper_content .nav_bottom {
  padding: 25px 0;
}
section#product_description .container .wrapper_content .nav_bottom i {
  font-size: 18px;
  display: inline;
  vertical-align: -1px;
}
section#product_description .container .wrapper_content .nav_bottom i:hover {
  cursor: pointer;
}
section#product_description .container .wrapper_content .nav_bottom .fa-angle-double-left {
  margin-right: 8px;
}
section#product_description .container .wrapper_content .nav_bottom .fa-angle-double-right {
  margin-left: 8px;
}
section#product_description .container .wrapper_content .nav_bottom ul {
  list-style: none;
  padding: 0;
  display: inline;
  margin-left: 5px;
  margin-right: 5px;
}
section#product_description .container .wrapper_content .nav_bottom ul li {
  display: inline;
  margin-right: 7px;
}
section#product_description .container .wrapper_content .nav_bottom ul li:last-child {
  margin-right: 0;
}
section#product_description .container .wrapper_content .nav_bottom ul li a {
  color: #6d6d6d;
}
section#product_description .container .wrapper_content .nav_bottom ul li a:hover {
  color: #68cef8;
}
section#product_description .container .wrapper_content .nav_bottom .pagination_desc {
  font-family: "Roboto-Regular";
}
/*============    ПОДВАЛ    ===========*/
/*============    	ВСПЛЫВАЮЩИЕ ОКНА    ===========*/
/*============    	АДАПТИВ    ===========*/
@media (min-width: 320px) and (max-width: 375px) {
  section#product_description ul.nav.nav-tabs li a {
    padding: 10px 3px;
  }
}
@media (min-width: 375px) and (max-width: 768px) {
  section#product_description ul.nav.nav-tabs li a {
    padding: 10px;
  }
}
@media (min-width: 320px) and (max-width: 768px) {
  section#product-section .mobile_product_info {
    display: block;
  }
  .tumb_list_img {
    display: none;
  }
  section#product-section .wrapper_main_img .product_slide img {
    margin: auto;
    display: block;
    max-width: 200px;
  }
  section#product-section .product_info h3 {
    display: none;
  }
  section#product-section .product_info .get_comment {
    display: none;
  }
  section#product-section .container {
    border: none;
    border-bottom: 1px solid #ebebeb;
  }
  section#product-section {
    margin-bottom: 49px;
  }
  section#product-section .product_info .article {
    display: none;
  }
  section#product-section .product_info .article_the_tablet {
    display: inherit;
  }
  section#product-section .product_info .product_price {
    font-size: 24px;
    margin-top: 34px;
  }
  section#product-section .product_info .product_button_wrapper .To_favorites {
    margin-bottom: 17px;
  }
  .Shipping-and-payment,
  .product_bottom_line {
    display: none;
  }
  section#product_description .container .interested_in,
  section#product_description .container .news {
    display: none;
  }
  section#product_description .container .wrapper_content .may_be_interesting {
    display: none;
  }
  section#product_description .container .wrapper_content .nav_bottom .col-xs-12 {
    text-align: center;
  }
  section#product_description .container .wrapper_content .nav_bottom .pagination_desc {
    display: none;
  }
  section#product_description .container .wrapper_content .comment .sectioan_all_comments .users_comment .comment_date {
    margin: 7px 0;
    font-size: 12px;
  }
  .comment_star {
    float: right;
    display: block;
  }
  section#product_description .container .wrapper_content .comment .section_add_comment .pt45 {
    padding-top: 0;
  }
  section#product_description .container .wrapper_content .comment .section_add_comment textarea {
    margin-top: 25px;
  }
  section#product_description .container .wrapper_content .comment .section_add_comment .btn_new_comment {
    margin: 15px auto;
    display: block;
  }
}
@media (min-width: 769px) and (max-width: 992px) {
  .body_color {
    display: block;
  }
  section#product_description .container .wrapper_content .comment .comment-head {
    border-top: none;
  }
  section#product-section .product_info {
    padding-bottom: 20px;
  }
  section#product-section .product_info .article,
  .Shipping-and-payment,
  .product_bottom_line,
  .tumb_list_img {
    display: none;
  }
  section#product-section .wrapper_main_img img {
    margin-left: 10px;
  }
  section#product-section .wrapper_main_img .product_slide img {
    display: block;
    margin-left: 0;
  }
  section#product-section .product_info .product_button_wrapper .To_favorites {
    font-size: 14px;
    border: none;
    border-bottom: 1px dashed;
    border-radius: 0;
    padding-bottom: 0;
    width: auto;
  }
  section#product_description .container .interested_in,
  section#product_description .container .news {
    display: none;
  }
  section#product-section .product_info .article_the_tablet {
    display: inherit;
  }
  section#product-section .product_info p.quant {
    margin-top: 10px;
  }
  section#product-section .product_info .product_price {
    margin-top: 20px;
  }
  section#product-section .product_info .delivery_1 {
    margin: 0;
    margin-top: 15px;
  }
  section#product_description .container .wrapper_content .may_be_interesting {
    display: none;
  }
  section#product_description .container .wrapper_content .comment {
    margin-top: 55px;
  }
  section#product_description .container .wrapper_content .comment .comment-head {
    border-top: none;
  }
  section#product-section .mr {
    border-right: 1px solid #ebebeb;
  }
  section#product-section .ml {
    border-left: none;
  }
}
@media (min-width: 993px) and (max-width: 1200px) {
  section#product-section .mr {
    border-right: 1px solid #ebebeb;
  }
  section#product-section .ml {
    border-left: none;
  }
  section#product-section .product_info p.quant {
    margin-top: 0;
  }
  section#product-section .product_info .product_price {
    margin-top: 15px;
  }
  section#product-section .product_info .article,
  .Shipping-and-payment,
  .product_bottom_line {
    display: none;
  }
  section#product-section .product_info .article_the_tablet {
    display: inherit;
  }
  section#product_description .container .interested_in,
  section#product_description .container .news {
    display: none;
  }
}
